<br>
<br>
<div class="panel panel-primary">
  <div class="panel-heading">
    New Appointment
  </div>
  <div class="panel-body">
    <%= form_for @appointment, remote:true do |f| %>
      <div class="form-group">
        <%= f.label :procedure %>
        <%= f.select :procedure, @procedures, {include_blank:true}, class:"procedures" %>
      </div>
      <div class="form-group">
        <%= f.label :number_of_rooms, "Number of Rooms" %>
        <%= f.select :number_of_rooms, @room_options, {}, class:"number_of_rooms" %>
      </div>
      <div class="form-group">
        <%= f.label :cptcodes, "CPT Codes" %>
        <%= f.select :cptcodes, @cptcodes, {include_hidden: false}, class:"cpts", multiple:true %>
      </div>
      <div class="form-group">
        <%= f.submit class:"btn btn-primary" %>
      </div>
    <% end %>
  </div>

</div>

<div id='result_container'></div>
